<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
				<h1><a href="{{ site.baseurl }}/index.html">Randomly Generated Noise</a></h1>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="{{ site.baseurl }}/index.html">Home</a></li>
					<li>
						<a href="">Projects</a>
						<ul>
							<!-- <li><a href="{{ site.baseurl }}/blog">Blog</a></li> -->
							<!-- <li><a href="#">Magna phasellus</a></li>
							<li><a href="#">Etiam dolore nisl</a></li> -->
							<li>
								<a href="{{ site.baseurl }}/2019/11/10/teslacoilindex.html">Tesla Coils</a>
								<ul>
									<li><a href="{{ site.baseurl }}/2019/11/19/vttc.html">811A Vaccuum Tube Coil</a></li>
									<li><a href="">Massive Spark Gap Coil</a></li>
									<li><a href="#">SSTC</a></li>
									<li><a href="#">DRSSTC</a></li>
									<li><a href="#">Tesla Coil Music</a></li>
								</ul>
							</li>
							<li>
								<a href="{{ site.baseurl }}/2019/01/03/coilgunindex.html">Coilguns</a>
								<ul>
									<li><a href="{{ site.baseurl }}/2019/01/03/coilgunv1.html">V1: Single-stage Classic</a></li>
									<li><a href="{{ site.baseurl }}/2019/01/03/coilgunv2_launcher.html">V2: Launcher</a></li>
								</ul>
							</li>
							<li>
								<a href="{{ site.baseurl }}/wearablesindex.html">Wearables</a>
								<ul>
									<li><a href="{{ site.baseurl }}/2019/01/10/numitron.html">Numitron Watch</a></li>
								</ul>
							</li>
							<li><a href="{{ site.baseurl }}/2018/09/08/cw.html">CW Multipliers</a></li>
							<li><a href="#">Marx Generators</a></li>
						</ul>
					</li>
					<li><a href="https://ctychendraws.tumblr.com/">My Art</a></li>
					<li><a href="#">Fun Stuff</a></li>
					<li><a href="{{ site.baseurl }}/researchindex.html">Research</a></li>
					<li><a href="https://ctychen.github.io/ClaireChen_Resume.pdf">Resume</a></li>
				</ul>
			</nav>

				<div class="header-img">
					<img src="{{ site.baseurl }}/assets/images/pic11.jpg">
				</div>

		</div>
	</div>
